<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="title">Grammar Checker Service</h1>
    </div>
    <div class="col-lg-12 form-group text-center">
      <label for="">Welcome</label>
      <%= current_user.name %> -
      <span class="glyphicon glyphicon-user"></span>
      <%= link_to "Home", users_path, method: :get %> -
      <span class="glyphicon glyphicon-education"></span>
      <%= link_to "Check", check_index_path, method: :get %> -
      <span class="glyphicon glyphicon-upload"></span>
      <%= link_to "Upload", resumes_path, method: :get %> -
      <span class="glyphicon glyphicon-off"></span>
      <%= link_to "Logout", logout_path, method: :delete %>
    </div>
  </div>
<br>
<center><img src="assets/usagy-check.gif" width=20% height=20% /></center>
<br>
<div class="text-center bg-success"><%= @file_check.html_safe %></div>
<br>
<div class="panel panel-primary">
  <div class="panel-heading">Fast check</div>
  <div class="panel-body">
	<div class="text-center">
	<%= form_tag("/check", method: "get") do %>
	  <%= label_tag(:q, "") %>
	  <div class="form-group">
	  <%= text_field_tag :q, nil, class: "form-control" %>
	  </div>
	  <%= submit_tag "Check", class: "btn btn-primary" %>
	<% end %>
	</div>
  </div>
</div>
<br><br>
<div class="panel panel-info">
  <div class="panel-heading">Load from System</div>
  <div class="panel-body">
	<div class="text-center">
	<%= form_tag("/check", method: "post") do %>
	  <%= label_tag(:link, "Input") %>
	  <%= text_field_tag :link, nil, class: "form-control" %>
	  <br>
	  <%= label_tag(:signature,"Hash") %>
	  <%= text_field_tag :signature, nil, class: "form-control" %>
	  <br>
	  <%= submit_tag "Check", class: "btn btn-info" %>
	</div>
	<% end %>
	</div>
  </div>
</div>



