<!DOCTYPE html>
<html>
  <head>
    <title>EzGrammar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="content" style="min-height: auto;">
      <% flash.each do |key, value| %>
        <div class="row">
          
    
          </div>
        </div>
      <% end %>
    </section>
    <%= yield %>
  </body>
</html>
